* {
  box-sizing: border-box;
}

body {
  height: 100%;
}

html,
body,
.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.movies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.movies .movie {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.movie img {
  position: relative;
}
